[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Hillary Jeffrey
	email = hillary.jeffrey@cisa.dhs.gov
	signingkey = FE1576AE46B17CFF
[includeIf "gitdir:~/hillaryj/"]
	path = ~/.gitconfig_personal
[commit]
	gpgsign = true
[merge]
	tool = opendiff
[diff]
	tool = opendiff
[alias]
	quickserve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
[credential "https://git-codecommit.us-east-1.amazonaws.com/v1/repos"]
	helper = !aws --profile terraform-role codecommit credential-helper $@
	UseHttpPath = true
[gpg]
	program = /usr/local/bin/gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[init]
	defaultBranch = main
